---
// Import Stylesheet
import '../styles/global.css';

// data source
// replace temporary JSON placeholder API
const source = 'https://www.cheapshark.com/api/1.0/games?title=halflife';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<!-- Normalize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>SteamCheap</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Steam Cheap</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.map( item =>
					<li class="card-item">
						<a href="https://www.cheapshark.com/redirect?dealID={item.cheapestDealID}">
							<figure class="card">
							<img src={item.thumb} alt={item.external}">
							<h3 class="caption-title">{item.external}</h3>
							<figcaption class="caption">
				
								<p>{item.cheapest}</p>
							</figcaption>
							</figure>
						</a>
					</li> 
					)
				}
		  
			</ul>

			<footer>
				Powered By Cheap Shark!
			</footer>
		  </main>
		  


	</body>
</html>
